
@import "../../assets/colors";
@import "../../assets/mixin";

.errorPage {
  width: 90%;
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 150px 0;
  #pageAnim {
    height: 600px;
    filter: drop-shadow(5px 5px 8px #00bfff);
  }
  .infoPage {
    button {
      @include button;
      width: 150px;
      height: 40px;
      position: relative;
    }
    button:hover {
      background-size: 100% 100%;
      background-position-y: left;
      color: white;
    }
  }
}
