@import "../style/colors";
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap");
@import "./mixin";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Comfortaa", cursive;
}

.paymentSec {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 110px 0;
  transition: 0.5s;

  .paymentCont {
    height: 650px;
    position: relative;
    transform: translateY(0);
    transition: 1s;
    width: 450px;
    background: linear-gradient(180deg, $mySilver 0.55%, $silver2nd 100%);
    border: 2px solid $myOrange;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .card-box {
      position: absolute;
      z-index: 1;
      background-color: transparent;
      width: 100%;
      perspective: 1000px;
      top: 0%;

      .card-box-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
      }

      .inner {
        transform: rotateY(180deg);
      }

      .parallax-effect-glare-scale {
        position: relative;
        width: 100%;
        height: 300px;
        border-radius: 15px;
        // background: url(https://wallpaperaccess.com/full/1527849.jpg)
        //   no-repeat center center;
        // background: linear-gradient(50deg,rgb(5, 14, 69) 50%, rgb(0, 191, 255) 50% );
        // background-size: cover;
        background-image: radial-gradient(
          circle 610px at 5.2% 51.6%,
          rgba(5, 8, 114, 1) 0%,
          rgba(7, 3, 53, 1) 97.5%
        );
        transform-style: preserve-3d;
        padding: 5px 0;
        margin-bottom: -2%;

        .card-box-front,
        .card-box-back {
          position: absolute;
          width: 100%;
          height: 100%;
          -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
          border-radius: 15px;
        }
        .card-box-front {
          display: flex;
          flex-direction: column;
          color: $mywhite;
          transform: translateZ(60px);

          .logo {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 120px;
            padding: 10px 50px;
            filter: drop-shadow(5px 5px 3px black);
            z-index: 1;
          }

          .numbers,
          .holderName {
            width: 80%;
            height: 15%;
            margin: auto;
            display: flex;
            justify-content: space-evenly;
            font-weight: 900;
            text-shadow: 5px 5px 3px black, 0 1px 1px rgb(0, 0, 0);
            p {
              font-size: 20px;
              color: white;
              font-weight: 900;
            }

            label {
              color: $myOrange;
              h4 {
                font-size: 15px;
                color: $mywhite;
                overflow-x: hidden;
              }
            }
          }

          .numbers {
            position: relative;
            align-items: flex-end;
            transition: 1s;
          }

          .holderName {
            display: flex;
            justify-content: space-between;
            padding: 0 20px;
            height: 25%;
            .name {
              label {
                position: relative;
                h4 {
                  width: 200px;
                  font-size: 16px;
                  position: absolute;
                  overflow-x: hidden;
                  text-align: start;
                }
              }
            }
          }
        }

        .card-box-back {
          transform: translateZ(60px);
          transform: rotateY(180deg);
          display: flex;
          flex-direction: column;
          gap: 20px;

          .line {
            background: #c0c0c0;
            width: 100%;
            height: 50px;
            margin-top: 30px;
          }
          .cvv {
            width: 100%;
            padding: 0 20px;

            p {
              position: relative;
              float: right;
              color: white;
              padding-right: 10px;
            }

            .line2 {
              margin-top: 2%;
              width: 100%;
              height: 45px;
              background: #fff;
              display: flex;
              justify-content: flex-end;
              align-items: center;
              padding: 0 10px;
              color: #1a3b5d;
              font-size: 18px;
              border-radius: 4px;
              box-shadow: 0px 10px 20px -7px rgb(32 56 117 / 35%);
            }
          }

          img {
            position: relative;
            left: 75%;
          }
        }
      }

      .parallax-effect-glare-scale::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 0;
        background: url(https://thumbs.dreamstime.com/b/maori-samoa-style-ornament-ethnic-tribal-ornamet-good-sleeve-ornaments-ethnic-theme-illustration-93784073.jpg)
          no-repeat center center;
        background-size: cover;
        top: 0%;
        left: 0%;
        bottom: 0;
        margin: auto;
        opacity: 0.4;
        // transform: rotate(50deg);
        border-radius: 12px;
      }

      .card-box-front::after {
        content: "";
        position: absolute;
        width: 100px;
        height: 60px;
        background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRHsgUU_-PDCafo14EDPMh6mlo6n_X1_9Cjbg&usqp=CAU)
          no-repeat center center;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
        background-size: cover;
        right: 10%;
        top: 10%;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
        opacity: 0.8;
        // filter: brightness(50%);
        border-radius: 10px;
        z-index: 0;
      }
    }

    form {
      position: absolute;
      width: 90%;
      height: 30%;
      bottom: 20%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 35px;

      label {
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 10px;
        color: $mywhite;

        input,
        select {
          width: 100%;
          height: 20px;
          background: none;
          border-style: none none solid none;
          border-color: $myOrange;
          border-width: 2px;
          color: $mywhite;
          font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
            Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
            sans-serif;
        }

        input:focus {
          outline: none;
          background: none;
        }
      }

      .monthYear {
        width: 100%;
        height: 90%;
        display: flex;
        justify-content: space-between;
        position: relative;
        input,
        select {
          width: 100px;
          height: 30px;
        }
        select {
          outline: none;
          background: $myBlack;
        }
      }

      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      /* Firefox */
      input[type="number"] {
        -moz-appearance: textfield;
      }

      button {
        @include button;
        width: 150px;
        height: 30px;
      }
      button:disabled {
        cursor: not-allowed;
        // background: linear-gradient(red,red);
      }

      button:hover {
        background-size: 100% 100%;
        background-position-x: left;
        color: $myBlack;
      }
    }
  }
}

@media screen and (max-width: 465px) {
  .paymentSec {
    width: 50%;
    margin: auto;
    .paymentCont {
      width: 350px;
      .card-box {
        width: 100%;
        height: 100px;
        .parallax-effect-glare-scale {
          height: 250px;
          .card-box-front {
            .logo {
              img {
                width: 40px;
                height: 40px;
              }
              #wifi {
                height: 30px;
              }
            }
            .numbers {
              height: 8%;
              p {
                font-size: 3vw;
              }
            }
            .holderName {
              label {
                font-size: 3vw;
                h4 {
                  font-size: 2.5vw;
                }
              }
              .name {
                label {
                  h4 {
                    width: 120px;
                    font-size: 2.5vw;
                  }
                }
              }
            }
          }
          .card-box-front::after {
            width: 70px;
            height: 40px;
            top: 14%;
          }

          .card-box-back {
            .cvv {
              .line2 {
                font-size: 3vw;
                height: 25px;
              }
            }
            img {
              width: 60px;
              height: 40px;
            }
          }
        }
      }

      form {
        

        .monthYear {
          width: 100%;
          height: 90%;
          display: flex;
          justify-content: space-between;
          position: relative;
          input,
          select {
            width: 80px;
            height: 30px;
          }
          select {
            outline: none;
            background: $myBlack;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 368px) {
  .paymentSec {
    width: 50%;
    margin: auto;
    .paymentCont {
      width: 300px;

      form {
        label {
          font-size: 3vw;
        }

        .monthYear {
          width: 100%;
          height: 90%;
          display: flex;
          justify-content: space-between;
          position: relative;
          input,
          select {
            width: 80px;
            height: 30px;
          }
          select {
            outline: none;
            background: $myBlack;
          }
        }
      }
    }
  }
}
