@import "../../assets/colors";
@import "../../assets/mixin";

footer {
  position: absolute;
  top: 100%;
  background: $myBlack;
  border-top: 0.5px solid $myOrange;
  backdrop-filter: blur(42px);
  padding-top: 100px;
  @include display(flex, space-around, center, 100%, auto);
  color: $mywhite;
  flex-wrap: wrap;

  .social-Icons {
    div {
      display: flex;
      gap: 5px;
      i {
        @include display(flex, center, center, 50px, 50px);
        border-radius: 50%;
        font-size: 20px;
        background: linear-gradient(
          135.77deg,
          $mySilver -94.16%,
          $silver2nd 100%
        );
      }

      i:hover {
        background: $myYellow;
      }
    }
  }

  ul {
    li {
      list-style-type: none;
      line-height: 40px;
      color: #d9dbe1;
      cursor: pointer;
    }

    li:hover {
      color: $mywhite;
    }
  }

  .emailBox {
    label {
      height: 50px;
      position: relative;
      input {
        width: 255px;
        height: 40px;
        background: linear-gradient(
          135.77deg,
          $mySilver -94.16%,
          $silver2nd 100%
        );
        border-radius: 10px;
        color: white;
      }

      i {
        position: absolute;
        top: 10%;
        right: 5%;
        font-size: 20px;
      }
    }
  }
}

@media (min-width: 800px) and (max-width: 1100px) {
  @include media800to1100;
}

@media (max-width: 779px) {
  @include media800;
}

@media (min-width: 510px) and (max-width: 798px) {
  @include media510to800;
}
