@import "../../assets/colors";
@import "../../assets/mixin";


.restaurants {
  width: 95%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
  row-gap: 100px;
  padding: 140px 50px;
  margin: auto;
  transition: 0.5s;

  .restaurantPage {
    position: relative;
    width: 400px;
    height: 330px;
    background: linear-gradient(135.77deg, $silver2nd -94.16%, $myBlack 100%);
    backdrop-filter: blur(42px);
    border-radius: 16px;
    border: 2px solid $myOrange;

    img {
      position: absolute;
      width: 369px;
      height: 217px;
      left: 12px;
      top: 11px;
      border-radius: 16px;
      transition: all 0.5s ease;
    }
    .info {
      position: absolute;
      left: 16px;
      top: 75%;
      p {
        height: 10px;
        color: $myYellow;
      }

      h4 {
        font-size: 16px;
      }
    }
  }

  .about {
    margin-top: 5%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 100px;

    .box {
      height: 90%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 30px;
      flex-wrap: wrap-reverse;

      h2 {
        width: 900px;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 50px;
        text-align: center;
        font-family: "Comfortaa", cursive;
      }

      img {
        width: 300px;
        height: 300px;
        transition: 0.8s;
      }
      img:hover {
        transform: scale(1.1);
        filter: drop-shadow(5px 5px 4px $myYellow);
      }
    }
  }
}

.mealsCont {
  width: 100%;
  padding: 120px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin: auto;
  position: relative;
  transition: 0.5s;

  .aboutMeal {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    gap: 50px;

    .pics {
      width: 100%;
      height: 482px;
      display: flex;
      justify-content: center;
      padding: 0 50px;
      img {
        transition: 1s;
      }

      .mainImg {
        width: 90%;
        height: 495px;
        #img {
          filter: drop-shadow(0px 6px 40px $myOrange);
          width: 100%;
          height: 100%;
      
        }
      }

      .images {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 15px;
        flex-wrap: wrap;
        height: 490px;

        .cont {
          cursor: pointer;
          width: 341px;
          position: relative;

          img {
            border: 2px solid $myOrange;
            width: 100%;
            height: 241px;
            border-radius: 20px;
          }

          .overlay {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            height: 100%;
            width: 100%;
            opacity: 0;
            transition: 0.5s ease;
            background-color: rgba(78, 78, 78, 0.49);
            background: linear-gradient(
              135.77deg,
              $myOrange -94.16%,
              $myBlack 100%
            );
            // border: 2px solid $myOrange;
            border-radius: 20px;

            .text {
              color: $mywhite;
              font-size: 20px;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              text-align: center;
            }
          }
        }

        .cont:hover .overlay {
          opacity: 1;
        }
      }
    }

    .infoRes {
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 0 80px;

      .mainInfo {
        width: 30%;
        display: flex;
        flex-direction: column;
        gap: 10px;

        > p {
          color: $mySilver;
        }
        .time {
          width: 100%;
          display: flex;
          gap: 20px;
          #open {
            color: $myOrange;
          }
        }
        .direction {
          width: 100%;
          display: flex;
          gap: 10px;
          align-items: center;
          height: 100px;
          #map {
            width: 50px;
            height: 50px;
            position: relative;
            bottom: 10%;
          }
        }
      }

      .reviews {
        display: flex;
        gap: 30px;
        span {
          width: 70px;
          height: 30px;
          display: flex;
          justify-content: center;
          gap: 5px;
          align-items: center;
          background-color: lime;
          border-radius: 20px;
        }
      }
    }
  }

  .backImg,
  .backImgPizza,
  .backImgSoup,
  .backImgChicken,
  .backImgCake {
    width: 90%;
    margin: auto;
    height: 300px;
  }

  .drinkMenu{
    width: 90%;
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;

    h3:hover{
      color: $myOrange;
    }
    // background-color: red;
  }

  .backImg {
    background: url(https://img.freepik.com/free-vector/fast-food-template_1284-14588.jpg?w=2000)
      no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
  }

  .backImgPizza {
    background: url(https://img.freepik.com/free-psd/top-view-fast-food-black-background-mock-up_23-2148321326.jpg?w=2000)
      no-repeat center center;
    background-attachment: fixed;
    background-size: contain;
  }

  .backImgSoup {
    background: url(https://img.freepik.com/free-vector/restaurant-mural-wallpaper-with-ramen-illustrated_52683-48428.jpg?w=2000)
      no-repeat 100% 100%;
    background-attachment: fixed;
    background-size: cover;
  }

  .backImgChicken {
    background: url(https://img.freepik.com/free-vector/chicken-potatoes-digital-horizontal-restaurant-menu_52683-45140.jpg?w=2000)
      no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
  }

  .backImgCake {
    background: url(https://img.freepik.com/premium-vector/pastry-dessert-chalkboard-menu_8071-3832.jpg?w=2000)
      no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
  }

  .meal {
    margin-top: 10%;
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;

    .mealCard {
      width: 100%;
      height: 331px;
      display: flex;
      gap: 20px;
      align-items: center;
      padding: 0 20px;
      background: linear-gradient(135.77deg, $silver2nd -94.16%, $myBlack 100%);
      backdrop-filter: blur(6px);
      border: 2px solid $myOrange;
      border-radius: 16px;

      img {
        width: 305px;
        height: 250px;
        border-radius: 20px;
        filter: drop-shadow(6px 4px 10px $mySilver);
        border: 2px solid $mySilver;
      }

      .mealInfo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        height: 305px;
        padding: 0 20px;

        h4 {
          font-size: 24px;
        }

        .price {
          display: flex;
          gap: 10px;
          .old {
            text-decoration: line-through;
            color: $mySilver;
          }

          .new {
            color: lime;
          }
        }

        .start {
          display: flex;
          gap: 10px;

          span {
            font-size: 20px;
          }
        }

        button {
          @include button;
          width: 136px;
          height: 35px;
        }

        button:hover {
          color: $myBlack;
          background-size: 100% 100%;
          background-position-x: left;
        }
      }
    }
  }
}

@media (min-width: 1131px) and (max-width: 1463px) {
  .mealsCont {
    .aboutMeal {
      .pics {
        flex-wrap: wrap;
        height: auto;
        gap: 40px;
        .mainImg {
          width: 95%;
          height: 550px;
        }
        .images {
          flex-wrap: nowrap;
          justify-content: space-evenly;
          height: 275px;
          .cont {
            width: 245px;
            .overlay {
              height: 88%;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1130px) {
  .mealsCont {
    .aboutMeal {
      .pics {
        flex-wrap: wrap;
        height: auto;
        gap: 40px;
        .mainImg {
          width: 88%;
          height: 550px;
        }
        .images {
          flex-wrap: wrap;
          height: auto;
          .cont {
            width: 430px;
            .overlay {
              height: 100%;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 995px) and (max-width: 1099px) {
  .restaurants {
    .restaurantPage {
      position: relative;
      width: 400px;
      height: 330px;
      background: linear-gradient(135.77deg, $silver2nd -94.16%, $myBlack 100%);
      backdrop-filter: blur(42px);
      border-radius: 16px;
      border: 2px solid $myOrange;

      img {
        position: absolute;
        width: 369px;
        height: 217px;
        left: 12px;
        top: 11px;
        border-radius: 16px;
        transition: all 0.5s ease;
      }
      .info {
        position: absolute;
        left: 16px;
        top: 75%;
        p {
          height: 10px;
          color: $myYellow;
        }

        h4 {
          font-size: 16px;
        }
      }
    }

    .about {
      margin-top: 5%;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 50px;

      .box {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        flex-wrap: wrap-reverse;

        h2 {
          width: 600px;
          height: 200px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 30px;
          text-align: center;
          font-family: "Comfortaa", cursive;
        }
      }
    }
  }

  .mealsCont {
    .aboutMeal {
      .pics {
        flex-wrap: wrap;
        height: auto;
        gap: 40px;
        .mainImg {
          width: 90%;
          max-width: 90%;
          height: 390px;
        }
        .images {
          flex-wrap: wrap;
          justify-content: space-evenly;
          height: auto;
          gap: 30px;
          .cont {
            width: 90%;
            max-width: 90%;
            img {
              height: 390px;
            }
          }
        }
      }
    }

    .meal {
      .mealCard {
        .mealInfo {
          h4,p{
            font-size: 14px;
          }
         
        }
      }
    }
  }
}

@media (min-width: 795px) and (max-width: 994px) {
  .restaurants {
    .about {
      margin-top: 5%;
      width: 80%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 50px;

      .box {
        height: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        flex-wrap: wrap-reverse;
        h2 {
          width: 400px;
          height: 200px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 30px;
          text-align: center;
          font-family: "Comfortaa", cursive;
        }
      }
    }
  }

  .mealsCont {
    .aboutMeal {
      .pics {
        flex-wrap: wrap;
        height: auto;
        gap: 40px;
        .mainImg {
          width: 95%;
          max-width: 95%;
          height: 390px;
        }
        .images {
          flex-wrap: wrap;
          justify-content: space-evenly;
          height: auto;
          gap: 30px;
          .cont {
            width: 95%;
            max-width: 95%;
            img {
              height: 390px;
            }
          }
        }
      }
    }

    .meal {
      .mealCard {
        .mealInfo {
          h4 {
            font-size: 14px;
          }
          p {
            font-size: 10px;
          }
        }
      }
    }
  }
}

@media (min-width: 762px) and (max-width: 794px) {
  .restaurants {
    .about {
      margin-top: 5%;
      width: 80%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 50px;

      .box {
        height: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 35px;
        flex-wrap: wrap-reverse;
        h2 {
          width: 400px;
          height: 200px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 30px;
          text-align: center;
          font-family: "Comfortaa", cursive;
        }
      }
    }
  }

  .mealsCont {
    .aboutMeal {
      .pics {
        flex-wrap: wrap;
        height: auto;
        gap: 40px;
        .mainImg {
          width: 95%;
          max-width: 95%;
          height: 360px;
        }
        .images {
          flex-wrap: wrap;
          justify-content: space-evenly;
          height: auto;
          gap: 20px;
          .cont {
            width: 95%;
            max-width: 95%;
            img {
              height: 360px;
            }
          }
        }
      }
    }

    .meal {
      .mealCard {
        .mealInfo {
          h4 {
            font-size: 15px;
          }
          p {
            font-size: 10px;
          }
        }
      }
    }
  }
}

@media (min-width: 562px) and (max-width: 761px) {
  .restaurants {
    width: 80%;
    margin: auto;
    .restaurantPage {
      position: relative;
      width: 350px;
      height: 330px;
      img {
        width: 100%;
        height: 217px;
        left: 0;
        top: 0;
      }
    }

    .about {
      width: 60%;
      margin-top: 5%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 50px;

      .box {
        width: 350px;
        padding: 10px 0;
        height: 330px;
        display: flex;
        flex-wrap: wrap-reverse;
        align-items: center;
        justify-content: center;
        gap: 10px;

        background: linear-gradient(
          135.77deg,
          $silver2nd -94.16%,
          $myBlack 100%
        );
        backdrop-filter: blur(42px);
        border-radius: 16px;
        border: 2px solid $myOrange;
        img {
          width: 150px;
          height: 140px;
        }

        h2 {
          width: 400px;
          height: 100px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 15px;
          text-align: center;
          font-family: "Comfortaa", cursive;
        }
      }
    }
  }

  .mealsCont {
    .aboutMeal {
      .pics {
        flex-wrap: wrap;
        height: auto;
        gap: 40px;
        .mainImg {
          width: 95%;
          max-width: 95%;
          height: 360px;
        }
        .images {
          flex-wrap: wrap;
          justify-content: space-evenly;
          height: auto;
          gap: 20px;
          .cont {
            width: 95%;
            max-width: 95%;
            img {
              height: 360px;
            }
          }
        }
      }

      .infoRes {
        .mainInfo {
          h3,
          p {
            font-size: 12px;
          }

          .time {
            p {
              font-size: 10px;
            }
          }
        }
      }
    }

    .backImg,
    .backImgPizza,
    .backImgSoup,
    .backImgChicken,
    .backImgCake  {
      height: 205px;
    }
    .meal {
      .mealCard {
        padding: 0 0;
        height: 250px;
        img {
          width: 250px;
          height: 100%;
          border-radius: 16px 0 0 16px;
        }
        .mealInfo {
          h4 {
            font-size: 15px;
          }
          p {
            font-size: 9px;
          }

          button {
            width: 100px;
            font-size: 10px;
          }
        }
      }
    }
  }
}

@media (min-width: 450px) and (max-width: 562px) {
  .restaurants {
    width: 70%;
    margin: auto;

    .restaurantPage {
      position: relative;
      width: 350px;
      height: 330px;
      margin-left: 4%;
      img {
        width: 100%;
        height: 217px;
        left: 0;
        top: 0;
      }
    }

    .about {
      margin-top: 5%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 50px;

      .box {
        width: 350px;
        padding: 10px 0;
        height: 330px;
        display: flex;
        flex-wrap: wrap-reverse;
        align-items: center;
        justify-content: center;
        gap: 10px;

        background: linear-gradient(
          135.77deg,
          $silver2nd -94.16%,
          $myBlack 100%
        );
        backdrop-filter: blur(42px);
        border-radius: 16px;
        border: 2px solid $myOrange;
        img {
          width: 150px;
          height: 140px;
        }

        h2 {
          width: 400px;
          height: 100px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 15px;
          text-align: center;
          font-family: "Comfortaa", cursive;
        }
      }
    }
  }

  .mealsCont {
    .aboutMeal {
      .pics {
        flex-wrap: wrap;
        height: auto;
        gap: 40px;
        .mainImg {
          width: 95%;
          max-width: 95%;
          height: 241px;
        }
        .images {
          gap: 25px;
        }
      }

      .infoRes {
        .mainInfo {
          h3,
          p {
            font-size: 12px;
          }

          .time {
            p {
              font-size: 1.4vw;
            }
          }
        }
        .reviews {
          font-size: 10px;
          span {
            width: 50px;
            height: 25px;
          }
        }
      }
    }
    .backImg,
    .backImgPizza,
    .backImgSoup,
    .backImgChicken,
    .backImgCake  {
      height: 100px;
    }

    .meal {
      .mealCard {
        padding: 0 0;
        height: 200px;
        img {
          width: 200px;
          height: 100%;
          border-radius: 16px 0 0 16px;
        }
        .mealInfo {
          height: 50%;
          gap: 5px;

          .price {
            font-size: 10px;
          }
          h4 {
            font-size: 10px;
          }
          p {
            font-size: 6px;
            text-align: justify;
          }

          button {
            width: 100px;
            font-size: 10px;
          }
        }
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 449px) {
  .restaurants {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;

    .restaurantPage {
      position: relative;
      width: 250px;
      height: 250px;
      margin-left: 4%;
      .info {
        position: absolute;
        left: 16px;
        top: 65%;
        h4,
        p {
          font-size: 14px;
        }
      }

      img {
        width: 100%;
        height: 150px;
        left: 0;
        top: 0;
      }
    }

    .about {
      padding: 0 0px;
      margin-top: 5%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 50px;

      .box {
        width: 250px;
        height: 250px;
        padding: 10px 0;
        display: flex;
        flex-wrap: wrap-reverse;
        align-items: center;
        justify-content: center;
        gap: 10px;

        background: linear-gradient(
          135.77deg,
          $silver2nd -94.16%,
          $myBlack 100%
        );
        backdrop-filter: blur(42px);
        border-radius: 16px;
        border: 2px solid $myOrange;
        img {
          width: 120px;
          height: 100px;
        }

        h2 {
          width: 200px;
          height: 100px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 15px;
          text-align: center;
          font-family: "Comfortaa", cursive;
        }
      }
    }
  }

  .mealsCont {
    .aboutMeal {
      .pics {
        flex-wrap: wrap;
        height: auto;
        gap: 40px;
        .mainImg {
          width: 100%;
          max-width: 100%;
          height: 150px;
        }
        .images {
          // flex-wrap: wrap;
          // justify-content: space-evenly;
          // height: auto;
          gap: 25px;
          .cont {
            width: 100%;
            max-width: 100%;
            img {
              height: 150px;
            }
          }
        }
      }
      .infoRes {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        .mainInfo {
          h3,
          p {
            font-size: 12px;
            width: 100%;
            max-width: 100%;
            text-align: center;
          }

          .time {
            display: flex;
            flex-wrap: wrap;
            p {
              font-size: 12px;
              width: 100%;
              max-width: 100%;
              text-align: center;
            }
          }
        }
        .reviews {
          font-size: 10px;
          span {
            width: 50px;
            height: 25px;
          }
        }
      }
    }

    .backImg,
    .backImgPizza {
      height: 100px;
    }
    .backImgPizza,
    .backImgSoup,
    .backImgChicken,
    .backImgCake {
      background-position: 50% 58%;
    }

    .meal {
      .mealCard {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 0;
        width: 300px;
        height: 360px;
        img {
          width: 100%;
          height: 50%;
          border-radius: 16px 16px 0 0;
        }
        .mealInfo {
          height: 50%;
          gap: 0;
          text-align: justify;

          .price {
            font-size: 10px;
          }
          h4 {
            font-size: 10px;
          }
          p {
            font-size: 6px;
            text-align: justify;
          }

          button {
            width: 100px;
            height: 20px;
            font-size: 10px;
          }
        }
      }
    }
  }
}
